# See http://help.github.com/ignore-files/ for more about ignoring files.

/package-lock.json

# dependencies
/node_modules/*

# neo.mjs
!/node_modules/neo.mjs
/node_modules/neo.mjs/package-lock.json
!/node_modules/neo.mjs/*
!/node_modules/neo.mjs/dist/development/*
!/node_modules/neo.mjs/dist/production/*

# font awesome
/node_modules/neo.mjs/node_modules/*
!/node_modules/neo.mjs/node_modules/@fortawesome
!/node_modules/neo.mjs/node_modules/@fortawesome/*
!/node_modules/@fortawesome
!/node_modules/highlightjs-line-numbers.js
!/node_modules/marked
!/node_modules/monaco-editor

# highlight.js
!/node_modules/neo.mjs/node_modules/highlightjs-line-numbers.js
!/node_modules/neo.mjs/node_modules/highlightjs-line-numbers.js/*

# marked
!/node_modules/neo.mjs/node_modules/marked/lib/marked.esm.js

# monaco-editor
!/node_modules/neo.mjs/node_modules/monaco-editor/min/vs/base
!/node_modules/neo.mjs/node_modules/monaco-editor/min/vs/base/*
!/node_modules/neo.mjs/node_modules/monaco-editor/min/vs/basic-languages/javascript/javascript.js
!/node_modules/neo.mjs/node_modules/monaco-editor/min/vs/basic-languages/typescript/typescript.js
!/node_modules/neo.mjs/node_modules/monaco-editor/min/vs/editor/editor.main.css
!/node_modules/neo.mjs/node_modules/monaco-editor/min/vs/editor/editor.main.js
!/node_modules/neo.mjs/node_modules/monaco-editor/min/vs/editor/editor.main.nls.js
!/node_modules/neo.mjs/node_modules/monaco-editor/min/vs/language
!/node_modules/neo.mjs/node_modules/monaco-editor/min/vs/language/*
!/node_modules/neo.mjs/node_modules/monaco-editor/min/vs/loader.js

# siesta
!/node_modules/neo.mjs/node_modules/siesta-lite/resources/css/*
!/node_modules/neo.mjs/node_modules/siesta-lite/siesta-all.js

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

#System Files
.DS_Store
Thumbs.db
